  html, body{
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  main{
    height: 100vh;
    background: linear-gradient(#e34e24, #e3ae24);
    background-size: 250% 250%;
    max-height: 100%;
    margin-top: -96px;
    animation: color 12s ease-in-out infinite;
  }
  @keyframes color{
    0%{
      background-position: 0 0;
    }
    50%{
      background-position: 0 100%;
    }
    100%{
      background-position: 0 0;
    }
  }
  
  /*Css for play button*/

  .play{
    width: 35vmin;
    padding-top: 20vmin;   
  }

  .fontRubikBubbles {
    font-family: 'Rubik Bubbles', 'cursive';
  }

  .title {
    font-size: 15vmin;
    position: absolute;
    padding-top: 96px;
    top: 25%;
    left: 50%;
    user-select: none;
    transform: translate(-50%, -50%);
    letter-spacing: -3px;
    white-space: nowrap;
  }

  .covidContainer {
    position: relative;
    }

  .confirmButton{
    position: relative;
    width: 60px;
    left: 70%
  }

  .custom-link {
    font-size: 20px; /* Ajustez la taille de la police des sous titres */
  }


.custom-link {
  font-size: 20px; /* Ajustez la taille de la police des sous-titres */
}


.custom-btn {
    margin-right: 5px; /* Ajustez la valeur selon vos préférences */
}



/*CSS game page*/
.alert-dark{
  width: 300px;
  height: auto;
  text-align: center;
}

/*CSS for the clickvalue animation*/
.click-feedback{
  position: fixed;
  color: aliceblue;
  font-family: 'Rubik Bubbles', 'cursive';
  font-size: larger;
  z-index: 999;
}



.logo-img {
  border-radius: 16px;
}

.logo-img {
  object-fit: cover;
}





.custom-table {
  border-radius: 15px;
  border: 4px solid black;
  background-color: #ffc0cb; /* Rose */
  width: 200px;
  height: 500px;
  font-size: 35px;
  text-align: center;
}