  html, body{
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  /* gradient background annimation */

  body{
    height: 100vh;
    background: linear-gradient(#e34e24, #e3ae24);
    background-size: 300% 300%;
    max-height: 100%;
    animation: color 12s ease-in-out infinite;
    font-family: 'Rubik Bubbles', 'cursive';
    cursor:none !important;
    
  }

  .cursor{
    width: 50px;
    height: 50px;
    background-image: url('../img/cursor-navigation.svg'); /* Image par défaut */
    background-size: cover;
    position: fixed;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-icon{
    cursor: none;
  }

  #logout{
    cursor: none;
  }

  @keyframes color{
    0%{
      background-position: 0 0;
    }
    50%{
      background-position: 0 100%;
    }
    100%{
      background-position: 0 0;
    }
  }

  .homePageContainer{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  /*Css for covid play button*/

  .play, .covidClick{
    width: 45vmin;
    height: 45vmin;  
    background-image: url(../img/playButton.png);
    background-color: transparent;
    border: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: none !important;
  }
  .play{
    position: relative;
  }

  .covidClick{
    margin-top: 20px;
  }
  

  /* Css for font */

  .fontRubikBubbles {
    font-family: 'Rubik Bubbles', 'cursive';
  }

  /* homepage title */
  .title {
    position: relative;
    font-size: 15vmin;
    user-select: none;
    letter-spacing: -3px;
    white-space: nowrap;
  }

  .covidContainer {
    display: flex;
    justify-content: space-between;
  }

  .confirmButton{
    position: relative;
    width: 60px;
    left: 70%
  }

  .custom-link {
    font-size: 20px; /* Ajustez la taille de la police des sous titres */
  }


.custom-link {
  font-size: 20px; /* Ajustez la taille de la police des sous-titres */
}


.custom-btn {
    margin-right: 5px; /* Ajustez la valeur selon vos préférences */
}



/*CSS game page*/
.alert-dark{
  width: 100%;
  height: auto;
  text-align: center;
}

.mainContainer{
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 85vh;
}

.clickerContainer{
  display: flex;
  flex-direction: column;
  width: 50vw;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.upgradesDiv, .autoUpgradesDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}
.upgradeButtonR, .upgradeButtonL{
  width: 15vw;
  height: 10vh;
}

/*CSS for the clickvalue animation*/
.click-feedback{
  position: fixed;
  color: aliceblue;
  font-family: 'Rubik Bubbles', 'cursive';
  font-size: larger;
  z-index: 999;
}

/* navBar */

.logo-img {
  border-radius: 16px;
  object-fit: cover;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  white-space: nowrap;

}

.navbar a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor:none;

}

.navbar a:hover {
  color: black;
  
}

.logoNav {
  cursor: none;
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-right {
  cursor: none;
}

.navbar a.large-link {
  font-size: 30px;
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;

}

.navbar a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  color: black;
}

.navbar-logo {
  margin-left: 15px;
  cursor: pointer;
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-right {
  cursor: pointer;
  margin-right: 10px;
}

.navbar a.large-link {
  font-size: 30;
}



.custom-table {
  border-radius: 15px;
  border: 4px solid black;
  background-color: #ffc0cb; /* Rose */
  width: 350px;
  height: 400px;
  font-size: 35px;
  text-align: center;
}

/* Styles pour les écrans de taille moyenne (par exemple, tablettes et téléphones) */
@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: row; /* Maintenir la direction horizontale */
    justify-content: space-around; /* Espacement équitable entre les éléments */
    text-align: center; /* Centrez le texte */
  }

  .navbar a {
    width: auto; /* Ajustez la largeur automatiquement */
  }

  .navbar-right {
    margin-top: 10px; /* Ajoutez un espace entre le dernier élément et le haut */
  }
  .navbar a.large-link {
    font-size: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar {
    flex-direction: row; 
    justify-content: space-around; 
    text-align: center; 
  }

  .navbar a {
    width: auto; 
  }

  .navbar-right {
    margin-top: 10px; 
  }
  .navbar a.large-link {
    font-size: 20px;
  }
}

/*LeaderBoard CSS*/
.table-container {
  max-width: 800px; 
  margin: 20px auto;
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px; 
  overflow: hidden; 
}
