/* Dans votre fichier CSS ou balise <style> */
.btn-apocalyptic {
    background-color: #8b0000; /* Rouge sombre */
    color: #fff; /* Couleur du texte */
    border-color: #8b0000; /* Couleur de la bordure */
    transition: all 0.3s ease; /* Transition pour l'animation */
  }
  
  .btn-apocalyptic:hover {
    background-color: #660000; /* Rouge plus sombre au survol */
    border-color: #660000; /* Couleur de la bordure au survol */
    transform: scale(1.1); /* Effet de zoom */
  }

  html, body{
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .homepage_body{
    height: 100vh;
    background: linear-gradient(#e34e24, #e3ae24);
    background-size: 250% 250%;
    max-height: 100%;
    margin-top: -96px;
    animation: color 10s ease-in-out infinite;
  }
  @keyframes color{
    0%{
      background-position: 0 0;
    }
    50%{
      background-position: 0 100%;
    }
    100%{
      background-position: 0 0;
    }
  }
  
  /*Css for play button*/

  .play{
    width: 35vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 100px;
    transform: translate(-50%, -50%);
    
  }

  .title {
    font-family: 'Rubik Bubbles', 'cursive';
    font-size: 15vmin;
    position: absolute;
    padding-top: 96px;
    top: 25%;
    left: 50%;
    user-select: none;
    transform: translate(-50%, -50%);
    letter-spacing: -3px;
    white-space: nowrap;
  }

  .covidContainer {
    position: relative;
  }

  .custom-link {
    font-size: 20px; /* Ajustez la taille de la police des sous titres */
  }

  /* Ajoutez ceci à votre fichier CSS ou balise <style> */

.login-logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.login-logo {
  width: 30px;
  height: 30px;
  background-color: #4CAF50; /* Couleur verte */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.login-logo::before {
  content: '\1F6AA'; /* Symbole de porte ouverte */
  font-size: 16px;
  color: #fff; /* Couleur du texte */
}

.custom-link {
  font-size: 20px; /* Ajustez la taille de la police des sous-titres */
}


.custom-btn {
    margin-right: 5px; /* Ajustez la valeur selon vos préférences */
}


  /* Ajout d'une transition spécifique à la fermeture du collapse */
#loginCollapse.collapse.closing {
    height: 0;
    transition: height 0.3s ease;
    overflow: hidden;
}

  /* Ajoutez ce style pour supprimer l'encadrement bleu */
.btn-custom {
      border: none;
      background-color: transparent;
      padding: 0;
}
  
    /* Style optionnel pour ajouter une ombre au survol du bouton */
    .btn-custom:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }